path {
    stroke: #fff;
    stroke-width: .5px;
    transition: fill 0.2s ease;
}
  
path:hover {
    fill: #ff6961;
}

svg {
    width: 960;
    height: 1000;
    border-style: dashed;
  }


  svg {
    font: 10px sans-serif;
  }

  a:hover tspan:first-child {
    text-decoration: underline;
  }

  tspan:last-child {
    font-size: 9px;
    fill-opacity: 0.7;
  }
  .pan:hover rect,
   .pan:hover text,
  .zoom:hover rect,
   .zoom:hover text {
    fill: blue;
  }

  .district-path{
    opacity: .2;
    stroke: black;
    stroke-width: 10;
  }